$primary-color: #0062FF;

.manage-accounts-header {
    display: flex;
    flex-direction: column;
    height: 10em;
    
    .heading-container {
        flex: 1.2;
        background-color: rgba(72,92,186,0.05);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3em;

        .title {
            font-size: 2.9ch;
            font-weight: 700;
            color: $primary-color;
        }

        .btn {
            font-size: 1.9ch;
            font-weight: 650;
            color: #696974;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FAFAFB;
            padding: .5em;
            padding-right: 1em;
            border-radius: .6em;
            cursor: pointer;
            font-family: 'PoppinsSemiBold600';

            .anticon {
                cursor: pointer;
                display: flex !important;
                width: 2em;
                justify-content: center;
                align-items: center;
                border-radius: .6em;
                height: 100%;
        
                svg {
                    height: 60%;
                    width: 60%;
                }
            }
        }
    }
    
    .menu-container {
        background-color: #EAECF4;
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3em;

        .search-container {
            flex: 1;
            max-width: 60em;
        }

        .rest-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .op-container {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: 2em;

            .fiter-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.8em;
                height: 2.5em;
                background-color: #fff;
                border-radius: .6em;
                margin-left: 1em;

                .anticon {
                    cursor: pointer;
                    display: flex !important;
                    width: 3em;
                    justify-content: center;
                    align-items: center;
                    border-left: 1px solid #ddd;
                    border-radius: .6em;
                    height: 100%;
            
                    svg {
                        height: 60%;
                        width: 60%;
                    }
                }
            }
        }
    }
}

.account-manager-content {
    padding: 2em;
    padding-top: 3em;

    #no-content-container {
        height: calc(100vh - 20em);
        width: 100%;
    }
}

.account-view-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6.1em;
    background-color: rgba(72,92,186,0.05);

    .heading-container {
        display: flex;
        align-items: center;
        padding: 0 3em;

        .titles-container {
            display: flex;
            flex-direction: column;
            margin-left: 2em;

            .title {
                color: #171725;
                font-family: 'PoppinsSemiBold600';
                font-size: 2.9ch;
            }

            .address {
                color: #696974;
                font-family: 'PoppinsMedium500';
            }
        }
    }

}
.account-view-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(72,92,186,0.05);
    
    .tabs-container {
        flex: 1;
        display: flex;
        background-color: #FAFAFB;
        justify-content: space-between;
        align-items: flex-end;

        .ant-tabs-ink-bar {
            background-color: #0062FF;
            height: 3px;
            border-top-right-radius: 2em;
            border-top-left-radius: 2em;
        }
        
        .ant-tabs {
            flex: 1;
        }
        
        .ant-tabs-bar {
            display: flex;
            margin-bottom: 0;
            padding: 0 3em;
            background-color: rgba(72,92,186,0.05);
            border-bottom: none;
            height: 3.9em;
        }

        .ant-tabs-nav-container {
            flex: 1;
            order: -1;
        }

        .ant-tabs-tab {
            margin-right: 2em;
            color: #171725;
            font-family: 'PoppinsMedium500';
            padding: 1em 1em 1.4em 1em;
        }

        .ant-tabs-tab-active,.ant-tabs-tab:hover {
            color: #0062FF;
        }

        .ant-tabs-extra-content {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .ant-tabs-tabpane {
            min-height: calc(100vh - 14.5em);

            padding: 2em;
            padding-top: 3em;

            #no-content-container {
                min-height: calc(100vh - 20em);
                width: 100%;
            }
        }
    }
}