.account-card-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 27.8em;
    border: 1px solid #F1F1F5;
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.05);
    border-radius: .6em;
    margin-bottom: 2em;
    margin-right: 1em;

    .badge {
        position: absolute;
        border-radius: .6em;
        top: -1em;
        right: 1em;
        height: 2em;
        
        background-color: #fff;
        font-family: 'PoppinsSemiBold600';
        color: #9D9D9D;
        border: 1.5px solid #9D9D9D;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1em;
    }

    .active {
        color: #70AA32;
        border: 1.5px solid #70AA32;
    }

    .closed {
        color: #FA6400;
        border: 1.5px solid #FA6400;
    }
    
    .progress {
        color: #F7B500;
        border: 1.5px solid #F7B500;
    }

    .header {
        display: flex;
        padding: 1em;
        padding-right: 1.5em;
        padding-left: 0;
        height: 11em;

        .inner {
            display: flex;
            border-left: 2px solid #9D9D9D;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 1.5em;
            height: 100%;
        }

        .green {
            border-left: 2px solid #70AA32;
        }

        .trans {
            border-left: none;
        }

        .icon {
            display: flex;
            justify-content: flex-start;
        }

        .friends {
            svg {
                transform: scale(.7);
            }
        }

        .friend {
            svg {
                transform: scale(.8);
            }
        }

        .address-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 1em 0 0 0;
            
            .title, .id {
                font-family: 'PoppinsBold700';
                color: #1D1F24;
                font-size: 1.2em;
            }

            .id {
                font-size: 1em;
                margin-bottom: .2em;
            }

            .address {
                font-family: 'PoppinsRegular400';
                color: #535353;
            }
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'PoppinsRegular400';
        padding: 1.5em;
        padding-top: 0;
        height: 12em;

        .contact-container {
            flex: 1;

            .type1 {
                color: #1D1F24;
                font-family: 'PoppinsSemiBold600';
            }

            .contacts {
                display: flex;
                flex-wrap: wrap;

                .name-card-container {
                    margin: .4em 1em 0 0;
                }

                .extra {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #535353;
                    font-family: 'PoppinsMedium500';
                    font-size: 1.1em;
                    margin-left: .5em;
                }
            }
        }

        .business {
            display: flex;
            flex-direction: column;
            
            span {
                color: #1D1F24;
                font-family: 'PoppinsSemiBold600';
            }

            .value {
                font-family: 'PoppinsMedium500';
                color: #535353;
                font-size: .9em;
            }
        }

    }

    .footer {
        border-top: 1px solid #E9E9E9;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'PoppinsRegular400';

        .action-dots {
            padding: .5em 0;
        }

        .footer-date {
            font-size: .9em;
            text-align: center
        }
    }
}