$primary-color: #0062FF;

.manage-accounts-header {
    display: flex;
    flex-direction: column;
    height: 10em;
    
    .heading-container {
        flex: 1.2;
        background-color: #f1f2f7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3em;

        .title {
            font-size: 1.55em;
            font-weight: 700;
            color: $primary-color;
        }
    }
    
    .menu-container {
        background-color: #EAECF4;
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3em;

        .search-container {
            flex: 1;
            max-width: 35em;
        }

        .rest-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .op-container {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: 2em;

            .fiter-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.8em;
                height: 2.5em;
                background-color: #fff;
                border-radius: .6em;
                margin-left: 1em;
                cursor: pointer;
            }
        }
    }
}

.account-manager-content {
    padding: 3em 1em 2.5em 2.5em;
    padding-top: 3em;
    background-color: #FAFAFB;

    #no-content-container {
        height: calc(100vh - 20em);
        width: 100%;
    }

    .app-pagination {
        padding-right: 1em;
    }
}

.account-view-header, .account-add-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 6.1em;
    height: 6.1em;
    background-color: #F0F2F5;

    .heading-container {
        display: flex;
        align-items: center;
        padding: 0 3em;

        .titles-container {
            display: flex;
            flex-direction: column;
            margin-left: 1.5em;

            .title {
                color: #171725;
                font-family: 'PoppinsSemiBold600';
                font-size: 1.55em;
            }

            .address {
                color: #696974;
                font-family: 'PoppinsMedium500';
            }
        }
    }
}
.account-add-header {
    background-color: #f1f2f7;
}

.account-view-content, .stock-manager-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    
    .tabs-container {
        display: flex;
        background-color: #FAFAFB;
        justify-content: space-between;
        align-items: flex-end;

        .ant-tabs-ink-bar {
            background-color: #0062FF;
            height: 3px;
            border-top-right-radius: 2em;
            border-top-left-radius: 2em;
        }
        
        .ant-tabs {
            flex: 1;
        }

        .ant-tabs-nav {
            padding: 0 3em;
            margin: 0;
            background-color: #F1F2F7;
        }

        .ant-tabs-tab {
            color: #171725;
            font-family: 'PoppinsSemiBold600';
            padding: 1em 1em 1.4em 1em;
            margin-right: 2em;
        }

        .ant-tabs-tab:hover .ant-tabs-tab-btn {
            color: #0062FF;
        }
        .ant-tabs-tab-active .ant-tabs-tab-btn {
            color: #0062FF;
        }

        .ant-tabs-extra-content {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .extra-btn {
                background-color: #5C63AB;
                color: #fff;
                cursor: pointer;
                font-family: 'PoppinsMedium500';
                height: 2.6em;
                border-radius: .6em;

                svg {
                    transform: scale(.7);
                }
            }
        }

        .ant-tabs-tabpane {
            min-height: calc(100vh - 14.5em);
            padding: 3em 1em 2em 2.5em;

            #no-content-container {
                min-height: calc(100vh - 20em);
                width: 100%;
            }
        }
    }
}

.account-add-content {
    display: flex;
    flex-direction: column;
    padding: 3em 1em 2em 3em;
    background-color: #FAFAFB;

    .header-buttons-container {
        display: flex;
        align-items: center;
        padding: 1em 0;
        
        .big {
            height: 5em;
            width: 40%;
            border: 1px solid #E3E3E3;
            font-family: 'PoppinsRegular400';
            background-color: #5C63AB;
            border-radius: .6em;
            color: #fff;
            transition: all 0.3s;

            .text {
                margin-left: .5em;
                font-size: 1.4em;
            }
        }

        .second {
            margin-left: 1em;
            color: #1B2125;
            background-color: #EBEBEB;            
        }
    }

    .identity-proof-container {
        padding: 1em 0;
        
    }

    .app-form-container {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: .5em 0;

        .input-container {
            width: 48%;
        }

        .stretch {
            width: 100%;
        }
    }

    .add-new-btn-container {
        align-items: center;
        height: 8em;
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        height: 8em;

        .text {
            color: rgba(0,0,0,0.85);
            margin-left: 1em;
            font-family: 'PoppinsRegular400';
        }
    }

    .ant-divider {
        background-color: #E9E9E9;
    }

    .title-container {
        height: 5em;
        display: flex;
        align-items: center;

        .title {
            color: #1B2125;
            font-family: 'PoppinsRegular400';
            font-size: 1.4em;
            margin-right: 1em;
        }
    }
    .accordion-container {
        width: 80%;
        margin-bottom: .6em;

        .app-form-container {
            width: 100%;
        }
    }
    .app-add-new-btn {
        height: 2.2em;
    }

    
}

.account-view-account-overview {
    .footer {
        justify-content: flex-end;
    }
}

.accounts-filter-body {

    .row {
        display: flex;
        justify-content: space-between;
        
        .input-container {
            width: 48%;
        }
    }
}