.address-card-container {
    height: 21.5em;
    margin-bottom: 2em;
    margin-right: 1em;

    .header {
        height: 6em;
    }

    .body {
        height: 10.5em;

        .contacts {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .mobile {
            color: #535353;
            font-family: 'PoppinsMedium500';
            font-size: .85em;
            margin-left: 2.8em;
        }
    }
}