.avatar-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 2em;
    height: 2em;
    min-width: 2em;
    border-radius: 50%;
    
    #text {
        color: #fff;
        font-family: 'PoppinsRegular400';
        font-size: .8em;
    }

}