.back-button-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0062FF;
    cursor: pointer;
    margin-right: 1.5em;
    
    .arrow {
        margin-right: .5em;

        svg {
            transform: rotate(-90deg) scale(.865);
        }
    }
    
    .text {
        font-family: 'PoppinsSemiBold600';
        font-size: 1.1em;
        cursor: pointer;
    }
}