.app-collapse-header {
    .title {
        color: #0062FF;
        font-family: 'PoppinsRegular400';
        font-size: 1.05em;
    }

    .msg {
        color: #44444F;
        font-family: 'Lato-Medium';
    }
}