.custom-placeholder-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-empty-description {
        font-family: 'PoppinsMedium500';
    }
    
}