.custorm-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C63AB;
    color: #fff;
    cursor: pointer;
    font-family: 'PoppinsMedium500';
    padding: 0 1em;
    height: 2.6em;
    border-radius: .6em;

    .text {
        margin-left: .5em;
    }
}