.dashboard-results-card {
    padding: 1em;
    background-color: #fff;
    border-radius: .6em;
    margin-right: 1em;
    flex: 1;
    // height: 20em;

    .bar-chart {
        height: 7em;
        margin-top: 2em;
        max-width: 100%;
    }
}

.accounts-dashboard-results-card {
    .panel-footer, .panel-stats {
        width: 50%;
    }

    .bar-chart {
        max-width: 80%;
    }
}