.date-slider {
    width: 60%;
    height: 6.5em;
    padding: 1em .5em;
    
    .slick-dots{
        display: none;
    }

    .slick-arrow {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .slick-disabled {
        opacity: .5;
        cursor: default;
    }
}