.date-panel-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;

    .month-week {
        font-family: 'PoppinsMedium500';
        color: #333333;
    }

    .date-slider {
        width: 60%;
        height: 6.5em;
        padding: 1em;
    }

    .date-picker {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9em;
        height: 2.6em;
        border-radius: .6em;
        border: 1px solid #0062FF;
        cursor: pointer;
        
        span {
            color: #0062FF;
            font-family: 'PoppinsSemiBold600';
            font-size: .9em;
            margin-left: .2em;
        }

        svg {
            transform: scale(.7);
        }

    }
}

.date-panel-picker {
    width: 0;

    .ant-picker-suffix {
        display: none;
    }

    &.ant-picker {
        padding: 0;
        height: 2em;
    }
}