.day-slider {
    width: 50%;

    .slick-arrow {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
     
    .slick-prev {
        left: -5px;
        transform: translate(0,-60%);
        z-index: 1;
    }

    .slick-next {
        right: -5px;
        transform: translate(0,-60%);
    }

    .slick-disabled {
        opacity: .5;
        cursor: default;
    }

    .app-date-panel-picker {
        margin-left: 50% !important;
    }
}