
.difference-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .anticon {
        display: flex;

        svg {
            transform: scale(.45);
        }
    }

    .value {
        display: flex;
        font-family: 'PoppinsSemiBold600';
        font-size: .8em;
    }
}