.dispatches-manager-content {
    padding-bottom: 5.1em;
    
    .dispatch-form-container {
        .row {
            .stretch {
                width: 100%;
            }
        }
    }

    .app-footer-buttons-container {
        height: auto;
        padding: 4em 0 0 2em;
    }
}
