.employee-card-container {
    height: 19.6em;

    .header {
        height: 8em;
        
        .address-container {
            padding-top: .5em;
        }
    }

    .body {
        height: 7em;

        .contacts {
            flex-direction: column;
        }
    }
}