.employee-manage-content {

    .app-footer-buttons-container.view {
        width: 60%;
    }

    .multi-buttons-container {
        flex: 1;
        justify-content: flex-end;
    }

    .multi-buttons-container-view {
        width: 60%;
    }

    #no-content {
        min-height: calc(100vh);
    }
}