.employee-card-container {
    height: 22.1em;

    .header {
        height: 8em;
        
        .address-container {
            padding-top: .5em;
        }
    }

    .body {
        height: 9.5em;

        .contacts {
            flex-direction: column;
        }

        .role {
            padding-top: .5em;
        }
    }
}