$textColor:rgba(0,0,0,0.85);

.empty-bottles-stock-card {
    border-radius: .6em;
    flex-basis: 24%;
    padding: 1em 0;
    color: $textColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .image-box {
        padding-right: 1em;
    }
    
    .body {
        display: flex;
        justify-content: center;
        align-items: center;

        .progress {
            padding-right: .5em;
        }

        .details {
            display: flex;
            flex-direction: column;
        }
        
        .title {
            font-size: .9em;
            font-family: 'PoppinsRegular400';
            color: rgba(0,0,0,0.85);
        }
        
        .number {
            font-family: 'PoppinsSemiBold600';
            color: #2E384D;
            font-size: 1.4em;
        }
    }
    
    .footer {
        font-family: 'PoppinsSemiBold600';
        color: rgba(0,0,0,0.5);
        font-size: .8em;
    }
    
    .progress-percent {
        font-family: 'PoppinsBold700';
        font-size: .9em;
    }
}