.form-header-container {
    padding: 2em 1em 0 2em;

    span {
        margin-right: 1em;
    }
    .title {
        color: #2A2D37;
        font-family: 'PoppinsBold700';
    }

    .date,.time,.shift {
        color: #2A2D37;
        font-family: 'PoppinsBold700';
    }

}