$primaryColor: #0062FF;
$primaryColorDisabled: #4C91FF;
$errorColor:  #E90614;
$textColor:rgba(0,0,0,0.85);
$textColorDisabled:rgba(0,0,0,0.55);

#scroll-view {
    :first-child {
        scroll-behavior: smooth;
    }
}

// -------------- antd Collapse styles ------------------- //

.ant-collapse {
    border: none;
}
.ant-collapse > .ant-collapse-item:last-child, 
.ant-collapse > .ant-collapse-item:last-child > 
.ant-collapse-header {
    border-radius: .6em !important;
}
.ant-collapse .ant-collapse-header {
    height: 5em;
    border: 1px solid #E2E2EA !important;
    background-color: #FFFFFF;

    .anticon {
        top: 2.5em !important;
        right: 2em !important;
    }
}
.ant-collapse-item-active .ant-collapse-header {
    border-bottom-left-radius: none !important;
    border-bottom-right-radius: none !important;
}
.ant-collapse-item {
    border: none !important;
}

.ant-collapse-content {
    background-color: #FDFDFD;
    border: 1px solid #E2E2EA !important;
    border-top:none !important;
    border-bottom-left-radius: .6em !important;
    border-bottom-right-radius: .6em !important;
}

// -------------- antd Message styles ------------------- //

.ant-message-notice-content {
    border-radius: .6em;

    color: $textColor;
    font-family: 'PoppinsLight300';

    .anticon-loading {
        color: #0062FF;
    }
}
// -------------- antd Row Col styles ------------------- //

.ant-row {
    margin: 0 !important;
}

.ant-col {
    padding: 0 !important;
}

// -------------- antd Checkbox styles ------------------- //
 
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color:$primaryColor;
}
 
.ant-checkbox-checked .ant-checkbox-inner {
    background-color:$primaryColor;
    border-color:$primaryColor;
}
.ant-checkbox-disabled .ant-checkbox-inner {
    background-color: #f5f5f5;
}
.ant-checkbox-checked::after {
    border: none;
}

// -------------- antd Dragger Input styles ------------------- //
 

.ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
    border-color: $primaryColor;
}

.ant-upload-drag {
    padding: 0 8px;
}

.ant-upload-drag-container {
    display: flex !important;
    justify-content: center;
    align-items: center;

    .msg {
        color: $textColor;
        font-family: 'PoppinsRegular400';
    }

    .click {
        color: $primaryColor;
        font-family: 'PoppinsSemiBold600';
    }
}

.ant-upload-disabled {
    .click {
        color: $primaryColorDisabled
    }
    .msg {
        color: $textColorDisabled;
    }
}
.app-upload-file-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

// -------------- antd Select Input styles ------------------- //

.ant-select {
    width: 100%;
    margin-top: .5em;
}

.ant-select-selector {
    height: 2.7em !important;
    background-color: #FCFDFE !important;
    border-radius: .5em !important;
    border: 1px solid #E2E2EA !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover, &:focus {
        border: 1px solid $primaryColor !important;
    }

    .ant-select-selection-item {
        font-size: 1.8ch;
        color: $textColor;
        font-family: 'PoppinsRegular400';
    }

    .ant-select-selection-search-input {
        height: 100% !important;
    }
}
.ant-select-arrow {
    right: 1.5em;
    cursor: default;
    
    svg {
        transform: scale(.8);
    }
}

.ant-select-focused.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border-color: $primaryColor !important;
    box-shadow: none !important;
}

.ant-select-multiple {
    .ant-tag {
        border-radius: .4em;
        font-family: 'PoppinsRegular400';
        background-color: $primaryColor;
        color: #fff;
    }
}
.ant-select-disabled.ant-select-multiple .ant-select-selector {
    background-color:#f4f4f4 !important;

    &:hover {
        border-color: #d9d9d9 !important;
    }
}

.ant-select-item-option-content {
    font-family: 'PoppinsRegular400';
}
.ant-select-focused:not(.ant-select-disabled).ant-select-multiple .ant-select-selector {
    border-color: $primaryColor !important;
    box-shadow: none;
}
.ant-select-disabled.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    background-color:#f4f4f4 !important;
    
    .ant-select-selection-item {
        color: $textColorDisabled !important;
    }

    &:hover {
        border-color: #d9d9d9 !important;
    }
}
.app-select-error {
    .ant-select-selector {
        border: 1px solid $errorColor !important;
    }
}
// -------------- antd Input styles ------------------- //

.ant-input, .ant-input-number {
    height: 2.7em !important;
    width: 100%;
    background-color: #FCFDFE !important;
    border-radius: .6em !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
    border: 1px solid #E2E2EA;
    
    &:hover, &:focus {
        border-color: $primaryColor;
        box-shadow: none !important;
    }
}

.ant-input-number-focused {
    border-color: $primaryColor;
    box-shadow: none !important;
}

.ant-input-number-handler-wrap {
    display: none;
}

.ant-input-number-input-wrap {
    width: 100%;
}

.ant-input-group-wrapper {
    margin-top: .5em ;

    .ant-input {
        margin-top: 0;
    }
}

.ant-input:placeholder-shown {
    text-transform: initial;
}

.ant-input-disabled {
    color: $textColorDisabled !important;
    background-color:#f4f4f4 !important;
}
.ant-input-disabled + .ant-input-group-addon{
    cursor: not-allowed;

    .app-input-addon-button {
        color: $primaryColorDisabled;
    }
}
.ant-input-number-disabled {
    color: $textColorDisabled !important;
    background-color:#f4f4f4 !important;

    &:hover {
        border-color: #d9d9d9 !important;
    }
}
.app-input-error {
    border: 1px solid $errorColor;
        
        &:hover, &:focus {
            border-color: $errorColor;
            box-shadow: none !important;
        }
    
    .ant-input-number-focused {
        border-color: $errorColor;
        box-shadow: none !important;
    }

    .ant-input {
        border-color: $errorColor;
        box-shadow: none !important;
    }
}

.app-label-error {
    color: $errorColor;
    float: right;
    font-family: 'PoppinsItalic400';
}

// -------------- antd Input Addon styles ------------------- //

.ant-input-group-addon {
    background-color: #FCFDFE !important;
    border-top-right-radius: .5em !important;
    border-bottom-right-radius: .5em !important;
    cursor: pointer;
}

.input-has-addon .ant-input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.app-input-addon-error {
    .ant-input {
        border-color: $errorColor;
        box-shadow: none !important;
    }
}
// -------------- Antd Modal styles ------------------- //
.ant-modal {

    .ant-modal-content {
        border-radius: 1em;
    }
    .ant-modal-header {
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;
    }
    
    .ant-modal-footer {
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
        height: 5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 24px;
        
        .right-btn {
            height: 2.5em;
            min-width: 8em;
            border-radius: .7em;
            background-color: #007AFF;
        }
    }

    .ant-modal-title {
        color: #171725;
        font-family: 'PoppinsSemiBold600';
    }


    .ant-modal-close-x {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            transition: all .3s;
        }

        &:hover {
            svg {
                transform: scale(1.2);
            }
        }
    }
}

// -------------- Various Input styles ------------------- //

.app-input-label-name {
    color: #4D5775;
    text-transform: uppercase;
    font-family: 'PoppinsSemiBold600';
    padding: 0 0 0 .25em;
    font-size: 1.6ch;
}
.label-mandatory::before {
    content:'*';
    color:  $errorColor;
}
.app-input-addon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #0062FF;
    font-family: 'PoppinsSemiBold600';
    font-size: 1.6ch;
    background-color: #FCFDFE !important;
}

// -------------- Various Icons styles ------------------- //

.app-svg-dropdown {
    float: right;
    transform: rotate(-90deg);
    transition: all .3s;
}
.app-svg-cross {
    transition: all .3s;
}

// -------------- Various Transform styles ------------------- //
.rotate-left {
    transform: rotate(-90deg);
}
.rotate-right {
    transform: rotate(90deg);
}
.rotate-zero {
    transform: rotate(0deg);
}
// -------------- Various Button styles ------------------- //

.app-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C63AB;
    color: #fff;
    cursor: pointer;
    font-family: 'PoppinsMedium500';
    padding: 0 1em;
    height: 2.6em;
    border-radius: .6em;
    
    .anticon {
        margin-right: .5em;
    }
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

.app-add-new-btn {
    background-color: #F1F1F5;
    border: 1px solid #E9E9E9;
    color: #005FFF;
    font-family: 'PoppinsSemiBold600';
    
    svg {
        transform: scale(.9);
    }
}

.app-cancel-btn {
    font-family: 'PoppinsSemiBold600';
    background-color: transparent;
    color: #005FFF;
}

.app-create-btn {
    font-family: 'PoppinsSemiBold600';
    background-color: #0091FF;
}

.app-create-acc-btn {
    font-size: 1.9ch;
    font-weight: 650;
    color: #696974;
    background-color: #FAFAFB;
    padding: .5em;
    padding-right: 1em;
    border-radius: .6em;
    cursor: pointer;
    font-family: 'PoppinsSemiBold600';

    .anticon {
        svg {
            transform: rotate(-90deg) scale(.865) !important;
        }
    }
}

.app-footer-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10em;
    width: 80%;

    .footer-btn {
        text-transform: uppercase;
    }

    .app-create-btn {
        height: 3.5em;
        width: 15em;
        border-radius: .8em;
    }
}

// -------------- Various Modal styles ------------------- //
.app-preview-modal {
    margin-top: 1.8em;

    .ant-modal-footer {
        justify-content: flex-end;
    }
}

// -------------- Various Animation styles ------------------- //

.app-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}


.app-form-container { // remove this if not needed
    display: flex;
    flex-direction: column;
    width: 80%;

    .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: .5em 0;

        .input-container {
            width: 48%;
        }

        .stretch {
            width: 100%;
        }
    }
}

.app-identity-proof-container {
        display: flex;
        flex-direction: column;
        width: 100%;
       
        .input-container {
            display: flex;
            flex-direction: column;
            width: 48%;
        }

        .second {
            margin-top: 1em;
        }

        .upload-container {
            display: flex;
            align-items: flex-end;
            padding: 1em 0;
        
            .upload-dragger-container {
                width: 50%;
            }
        
            .upload-preview-container {
                width: 50%;
                margin-left: 2em;
            }
        }

        .upload-instructions {
            display: flex;
            flex-direction: column;
            padding-top: 1em;
            color: $textColor;

            .title {
                font-family: 'PoppinsSemiBold600';
            }
            .msg {
                font-family: 'PoppinsRegular400';
                font-size: 1.6ch;
            }
        }
}

.app-gst-upload-container {
    justify-content: flex-start;
}