.identity-proof-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .input-container {
        display: flex;
        flex-direction: column;
        width: 48%;
    }

    .second {
        margin-top: 1em;
    }

    .upload-container {
        display: flex;
        align-items: center;
        padding: 1em 0;
        // height: 8em;

        .upload-dragger-container {
            width: 50%;
        }

        .upload-preview-container {
            width: 50%;
            margin-left: 2em;
        }
    }

    .upload-instructions {
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        color: rgba(0,0,0,0.85);

        .title {
            font-family: 'PoppinsSemiBold600';
        }
        .msg {
            font-family: 'PoppinsRegular400';
            font-size: 1.6ch;
        }
    }
}