.invoice-content {
    background-color: #FAFAFB;
    
    .stock-delivery-container {
        padding: 1.5em 2em 2em 2em;
    }
    
    .invoice-title-container {
        height: 3em;
        align-items: flex-start;
    }

    .invoice-title-container.inner {
        padding-left: 0;
    }

    .invoice-form-container {
        width: 80%;

        .columns {
            width: 80%;
        }

        .form-divider {
            margin: 3em 0;
        }
    }

    .app-footer-buttons-container {
        justify-content: flex-end;
        padding-left: 2em;
    }

    .no-content {
        min-height: calc(100vh - 10.7em);
    }

    .app-tabs-container .ant-tabs-tabpane {
        padding: 0 !important;
    }

    .product-table-container {
        padding-top: 1em;
        
        .ant-select {
            max-width: 19vw;
        }

        .app-add-new-btn {
            margin-top: 1.5em;
            width: fit-content;

        }

        .table-footer-container {
            display: flex;
            justify-content: space-between;
        }

        .table-footer {
            width: 40%;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            background-color: #fff;
            border-radius: .6em;
            padding: 1em;
            margin-top: 1.5em;

            .input-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-bottom: .5em;

                .app-input-value-large {
                    display: flex;
                    justify-content: flex-end;

                }
            }
        }
    }
}

.manage-invoice {

    .no-content {
        min-height: calc(100vh - 10.5em);
    }
}

.manage-invoices-header {
    
    justify-content: space-between;

    .left {
        display: flex;
        align-items: center;

        .title {
            color: #171725;
        }
    }
}

.invoice-manage-content {
    display: flex;
    
    .left-panel, .right-panel {
        min-height: calc(100vh - 10.05em);
        max-height: calc(100vh - 10.05em);
    }
    
    .left-panel {
        flex-basis: 33%;
        user-select: none;
        padding-left:.25em;
        border-right: 1px solid #E9E9E9;
        
        & > div > div {
            padding:.25em 0;
            scroll-behavior: smooth;
        }

        .message-list {
            padding-right: .25em;
        }
    }
    
    .right-panel {
        flex: 1;

        .content-header-bar {
            height: 3.5em;
            display: flex;
            align-items: center;
            padding:0 1em;
            color: #323130;
            font-family: 'PoppinsMedium500';
            border-bottom: 1px solid #E9E9E9;

            .title {
                font-size: 1.2em;
            }

            .menu-panel {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .app-cancel-btn {
                    svg {
                        transform: scale(.7);
                    }
                }
            }
        }

        .content-body {
            height: calc(100% - 3.5em);
            max-height: calc(100% - 3.5em);

            & > div > div {
                scroll-behavior: smooth;
            }

            .document-viewer {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1em 0;
                
                .react-pdf__Page {
                    margin-bottom: 1em;
                    box-shadow: 0px 1.6px 3.6px 0px  rgba(0,0,0,0.1), 
                            0px 0.3px 0.9px 0px rgba(0,0,0,0.1);


                    &:hover {
                        box-shadow: 0px 6.4px 14.4px 0px  rgba(0,0,0,0.1), 
                                    0px 1.2px 3.6px 0px rgba(0,0,0,0.1);
                    }
                }
            }

        }
    }
}

.invoice-content {

    .invoice-title-container {
        display: flex;

        .title {
            color: #1B2125;
            font-family: 'PoppinsRegular400';
            font-size: 1.4em;
            margin-right: 1em;
        }
    }

    .half-line {
        min-width: 60%;
        max-width: 60%;
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1em 0;

        .text {
            color: rgba(0,0,0,0.85);
            margin-left: 1em;
            font-family: 'PoppinsRegular400';
        }
    }
}