$textColor:rgba(0,0,0,0.85);

.name-card-container {
    display: flex;
    align-items: center;
    flex: 1 0 44%;

    .name {
        margin-left: .5em;
        color: #535353;
        font-family: 'PoppinsMedium500';
        font-size: .9em;
    }
}

.name-card-container.large {
    .avatar-text-container {
        width: 2.6em;
        height: 2.6em;
        min-width: 2.6em;

        #text {
            font-size: 1em;
        }
    }
    .name {
        font-size: 1em;
        color: $textColor;
    }
}

