.notification-card {
    width: 100%;
    min-height: 5em;
    background-color: #fff;
    border-radius: .1em;
    transition: all .3s;
    padding: 1em;
    margin-bottom: 8px;
    box-shadow: 0px 1.6px 3.6px 0px  rgba(0,0,0,0.1), 
    0px 0.3px 0.9px 0px rgba(0,0,0,0.1);
    
    &:hover {
        box-shadow: 0px 6.4px 14.4px 0px  rgba(0,0,0,0.1), 
                    0px 1.2px 3.6px 0px rgba(0,0,0,0.1);
    }

    .header {
        color: #323130;
        font-family: 'PoppinsMedium500';
        padding-bottom: .2em;
    }

    .content {
        color: #605e5c;
        font-family: 'PoppinsRegular400';
    }
}