#app-container {
    #app-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        height: 4.6em;
        border-bottom: 1px solid  #E2E2EA;
        padding: 0 2em;

        #logo-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 .3em;
        }

        #nav-container {
            height: 100%;
            min-width: 8.5em;
            border-left: 1px solid  #E2E2EA;
            padding: 0 1em;
    
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav-icon {
                position: relative;
                display: inline-flex;
                margin-right: 1.5em;
            }
        }
    }

    #app-content {
        height: calc(100vh - 4.6em);

        .app-sider {
            z-index: 1;
            overflow-y: auto;
            background-color: #FFF;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
            
            #app-side-menu {
                height: 100%;
                border: none;

                .ant-menu-item {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    margin: 0;
                    margin-top: 1.2em;
                    padding: 0 1em !important;
                    font-family: "PoppinsMedium500";
                    background-color: #fff;
                    color: #171725;

                   &:hover {
                        color: #0062FF;
                    }

                    &::after {
                        border-right: .2em solid #0062FF;
                    }

                    img {
                        margin-right: 1em;
                    }
                }
                .ant-menu-item-selected {
                    color: #0062FF;
                }

                .ant-menu-submenu {
                    width: 100%;
                    margin: 0;
                    margin-top: 1.2em;
                    font-family: "PoppinsMedium500";
                    background-color: #fff;
                    color: #171725;
                    
                    .ant-menu-sub.ant-menu-inline {
                        background-color: #fff;

                        .ant-menu-item {
                            padding-left: 2em !important;
                        }
                    }

                    .ant-menu-submenu-title {
                        margin: 0;
                        padding: 0 1em !important;
                        background-color: #fff;

                        &:hover {
                            color: #0062FF;
                        }
                    }
                }

                .ant-menu-submenu-selected {
                    color: #0062FF;

                    .ant-menu-submenu-title {
                        svg path {
                            fill: #0062FF;
                        }
                    }
                }
            }
        }
    }
}