.plant-card-container {
    height: 23.5em;

    .header {
        height: 8em;

        .address-container {
            padding-top: .5em;
        }
    }

    .body {
        height: 10.9em;

        .contacts {
            flex-direction: column;
        }

        .role {
            padding-top: 1em;
        }
    }
}