$textColor:rgba(0,0,0,0.85);

.quality-result-card {
    height: 13em;
    background-color: #fff;
    border-radius: .6em;
    flex-basis: 32.3%;
    padding: 1em;
    color: $textColor;

    display: flex;
    flex-direction: column;
    
    .title {
        font-family: 'PoppinsBold700';
        color: #B4B3B3;
    }
    
    .shift-box {
        .shift {
            font-family: 'PoppinsSemiBold600';
            color: $textColor;
            padding-right: 1em;
        }

        .date {
            color: #B4B3B3;
            font-family: 'PoppinsSemiBold600';
            font-size: .9em;
        }
    }
    
    .panel-details {
        margin-top: auto;
    }
}