.qc-content {
    .qc-form-container {
        width: 60%;
        padding: 1.5em 0 0 2em;
    
        .half-stretch {
            width: 60%;
        }
    }

    .accordion-container {
        margin-bottom: .6em;

        .app-collapse-header {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}

