$textColor:rgba(0,0,0,0.85);

.raw-mat-stock-card {
    background-color: #fff;
    border-radius: .6em;
    padding: 1em;
    color: $textColor;
    flex: 1;

    .name {
        margin-right: .5em;
    }

    .app-stock-badge {
        margin-right: auto;
    }
}