.search-input-container {
    position: relative;
    
    .search {
        cursor: pointer;
        position: absolute;
        top: 1px;
        right: 1px;
        display: flex;
        width: 3em;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #E2E2EA;
        background-color: #FAFCFF;
        border-radius: .6em;
        height: 95%;

        svg {
           transform: scale(.8);
        }
    }

    input {
        outline: none;
        border-radius: .6em;
        height: 2.5em;
        padding-left: 1em;
        padding-right: 3.3em;
        width: 100%;
        background-color: #FAFCFF;
        border: .5px solid #FAFCFF;
        transition: all 300ms ease;
    }

    input:focus {
        border: .5px solid #0062FF;
    }

    input::placeholder {
        color: #92929D;
    }

    &:hover {
        input {
            border: .5px solid #0062FF;
        }
    }
}