.stock-header {
    display: flex;
    align-items: center;
    height: 6.1em;
    padding: 0 3em;
    background-color: #F1F2F7;

    .heading-container {
        display: flex;
        align-items: center;
    }

    .titles-container {
        display: flex;
        flex-direction: column;
        padding-right: 1em;

        .title {
            color: #171725;
            font-family: 'PoppinsSemiBold600';
            font-size: 1.55em;
        }

        .address {
            color: #696974;
            font-family: 'PoppinsMedium500';
        }
    }
    
    .three-dot-menu {
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.4em;
        height: 2.4em;
        border-radius: .6em;
        cursor: pointer;
        background-color: #FAFAFB;
        margin-top: .4em;
    }
}

.stock-manager-content {
    padding-bottom: 3em;
    background-color: #FAFAFB;

    .stock-manager-tabs {
        .ant-tabs-tabpane {
            display: none;
        }
    }

    .date-picker-panel {
        height: 6.5em;
        width: 100%;
        background-color: rgba(72,92,186,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #no-content-container {
        min-height: calc(100vh - 22em);
        width: 100%;
    }
}

.stock-details-container {
    display: flex;
    flex-direction: column;

}

.stock-panel {
    display: flex;
    border-top: solid 1px #E4E6E5;
    padding: 1.5em;
    padding-left: 1em;

    .box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: .3em 1em;
        border-right: 1px solid #C6C6C6;

        .title {
            font-family: 'PoppinsSemiBold600';
            font-size: .96em;
            color: #4F63BC;
        }

        .name {
            color: rgba(0,0,0,0.85);
            font-family: 'PoppinsRegular400';
            font-size: .75em;
        }

        .numbers-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;

            .number {
                color: #2A2D37;
                font-family: 'PoppinsBold700';
            }
        }
    }

    .last {
        border-right: none;
    }

    .buttons {
        display: flex;
        flex: 1;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        padding: .3em 1em;

        .app-stock-btn {
            margin-bottom: .6em;
            margin-right: 1em;
        }
    }
}

.cas-panel-container {
    border-top: none;
    background-color: #fff;
    height: 9em;
    

    .titles {
        align-items: flex-end;
        justify-content: space-between;
        font-family: 'PoppinsSemiBold600';

        .title {
            align-self: start;
        }
        
        .new {
            align-self: flex-end;
            color: #333333;
            font-family: 'PoppinsMedium500';
        }
    }

    .items {
        .numbers-container {
            .number {
                font-size: 1.2em;
            }
            .new {
                font-family: 'PoppinsRegular400';
            }
        }
    }
}
.casmp-panel-container {
    border-top: none;
    background-color: #fff;
    height: 6.5em;

    .titles {
        justify-content: center;
    }

    .items {
        .numbers-container {
            .number {
                font-size: 1.2em;
            }
            .new {
                font-family: 'PoppinsRegular400';
            }
        }
    }
}
.ofd-panel-container,.ds-panel-container,.ec-panel-container,
.erc-panel-container,.dc-panel-container {
    height: 6.5em;
    

    .titles {
        justify-content: center;
        font-family: 'PoppinsSemiBold600';
    }

    .items {
        .numbers-container {
            justify-content: flex-end;
            .number {
                font-size: .9em;
            }
        }
    }
}

.cas-panel-container,.ds-panel-container,.ofd-panel-container {
    .titles {
        width: 12.2em;
    }
}

.ec-panel-container,.erc-panel-container,.dc-panel-container {
    .titles {
        width: 12.8em;
    }
}
.ec-panel-container {
    .mother-plant {
        width: 21.5em;
    }
    .add {
        color: #007AFF;
        font-family: 'PoppinsBold700';
        font-size: .85em;
        cursor: pointer;
        align-self: flex-start;
    }
}

.empty-cans-header {
    background-color: #FAFAFB;
    border-top: solid 1px #E4E6E5;
    height: 6.5em;
    padding: 1.5em 1.5em 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    .title {
        font-family: 'PoppinsBold700';
        font-size: 1.1em;
    }
    
    .msg {
        font-family: 'PoppinsMedium500';
        color: #6D7278;
        font-size: .9em;
    }

}

.stock-delivery-container {
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em 0 2em;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 1.5em;

        .left {
            width: 40%;
            display: flex;
            align-items: center;

            
        }

        .right {
            width: 60%;
            display: flex;
            justify-content: flex-end;

            .delivery-search {
                max-width: 22em;
                min-width: 14em;
            }
        }

    }

    .app-pagination {
        padding-top: 2em;
    }
}

.stock-delivery-table {
    min-height: calc(100vh - 30em);

    .ant-table-thead > tr > th {
        color: #333333;
        font-family: 'PoppinsSemiBold600';
        background-color: #FFF;
        font-size: .95em;
        text-align: center;
        white-space: nowrap;
    }

    .ant-table-tbody > tr > td {
        color: #333333;
        font-family: 'PoppinsRegular400';
        font-size: .9em;
    }

    .ant-table-tbody > tr.ant-table-row:hover > td {
        background-color: transparent;
    }

    .ant-table-tbody > tr:nth-child(odd) {
        background-color: #F2F3F5;
    }

    .ant-table-tbody {
        tr > :nth-child(7) {
            text-align: center;

            .ant-dropdown-menu-item {
                font-size: .9em;
            }
        }
    }

    .status {
        display: flex;
        align-items: center;

        .dot {
            width: .6em;
            height: .6em;
            border-radius: 50%;
            margin-right: .2em;
        }
    }

    .action-dots {
        padding: .5em 0;
        
        svg {
            transform: rotate(90deg) scale(.8);
        }
    }
}

.stock-manager-content {
    .prod-form-container {
        width: 60%;
        padding: 1.5em 0 0 2em;

        .columns {
            width: 80%;
        }

        .row {
            .stretch {
                width: 70%;
            }
        }
    }

    .app-footer-buttons-container {
        margin-left: 2em;
    }
}
