.upload-preview-container {
    display: flex;
    .item-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .img-container {
            position: relative;
            border: 1px solid #E7E7E7;
            width: 6em;
            height: 4em;

            img {
                width: 100%;
                height: 100%;
            }

            .image-shadow {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transition: all .3s;
            }
            
            &:hover {
                .image-shadow {
                    background-color: rgba(0,0,0,.25);
                }
            }

            .cross {
                position: absolute;
                right: -5px;
                top: -5px;
                width: 1em;
                height: 1em;
                cursor: pointer;
                transition: all .3s;
                z-index: 1;
                transform: scale(.8);
            }

            &:hover {
                .cross {
                    transform: scale(1.2);
                }
                .eye {
                    opacity: .9;
                }
            }

            .eye {
                position: absolute;
                top: 35%;
                left: 40%;
                font-size: 20px;
                opacity: 0;
                cursor: pointer;
                transition: all .3s;
                z-index: 1;
            }
            // .eye:hover {
            //     .image-shadow {
            //         background-color: rgba(0,0,0,.25);
            //     }
            // }

            .preview-error {
                position: absolute;
                top: 35%;
                left: 23%;
                color: #E90614;
                font-size: 1.5ch;
                font-family: 'PoppinsItalic400';
            }

        }

        span {
            color: rgba(0,0,0,0.85);
            font-family: 'PoppinsRegular400';
            font-size: 1.4ch;
        }
    }

    .last {
        margin-left: 1em;
    } 
}