$primary-color: #0062FF;

.views-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 650;
    height: 2.5em;
    color: #696974;
    margin-right: 1em;
    font-family: 'PoppinsMedium500';

    .ant-divider {
        background-color: #000 !important;
        opacity: .1;
        height: 1.5em;
        margin: 0 1em;
    }

    .menu-item {
        display: flex;
        align-items: center;
        cursor: pointer;

        .name {
            font-size: .9em;
        }
    }

    .icon {
        cursor: pointer;
        margin-right: .2em;
        svg {
            transform: scale(.7);
        }
    }

    .selected {
        color: $primary-color;
    }
}